.app-wrapper{
    display: grid;

    grid-template-areas:
        "header header"
        "nav content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content{
    grid-area: content;
    background: aquamarine;
    margin-right: 300px;
}