.app-wrapper{
    display: grid;

    grid-template-areas:
        "header header"
        "nav content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header{
    grid-area: header;
    background: green;
}
.nav{
    grid-area: nav;
    background: red;
}
.content{
    /*display: grid;*/
    grid-area: content;
    background: blue;

    /*grid-template-areas:*/
    /*    "content1" "content2";*/

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 800px 1fr;*/
}

/*.content1{*/
/*    grid-area: content1;*/
/*    background: rebeccapurple;*/
/*}*/

/*.content2{*/
/*    background: aliceblue;*/
/*    grid-area: content2;*/
/*}*/